<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>global</key>
		<dict>
			<key>background</key>
			<string>music/backgroud.mp3</string>
			<key>start</key>
			<string>music/start.mp3</string>
			<key>win</key>
			<string>music/win.mp3</string>
			<key>lost</key>
			<string>music/lost.mp3</string>
			<key>pressbutton</key>
			<string>music/pressbutton.mp3</string>
			<key>outcard</key>
			<string>music/outcard.mp3</string>
			<key>pass</key>
			<string>music/pass.mp3</string>
			<key>touchcard</key>
			<string>music/touchcard</string>
			<key>bomb</key>
		    <string>music/bomb.mp3</string>
			<key>airplane</key>
			<string>music/airplane.mp3</string>
		</dict>
		<key>man</key>
		<dict>
			<key>calllandlord</key>
			<dict>
				<key>nocall</key>
				<string>music/man/CallLandlord/man_nocall.mp3</string>
				<key>onescore</key>
				<string>music/man/CallLandlord/man_1fen.mp3</string>
				<key>twoscore</key>
				<string>music/man/CallLandlord/man_2fen.mp3</string>
				<key>threescore</key>
				<string>music/man/CallLandlord/man_3fen.mp3</string>
				<key>landlord</key>
				<string>music/man/CallLandlord/man_landlord.mp3</string>
			</dict>
			<key>outcard</key>
			<dict>
				<!-- 单张 -->
				<key>A</key>
				<string>music/man/OutCard/mancard_A.mp3</string>
				<key>2</key>
				<string>music/man/OutCard/mancard_2.mp3</string>
				<key>3</key>
				<string>music/man/OutCard/mancard_3.mp3</string>
				<key>4</key>
				<string>music/man/OutCard/mancard_4.mp3</string>
				<key>5</key>
				<string>music/man/OutCard/mancard_5.mp3</string>
				<key>6</key>
				<string>music/man/OutCard/mancard_6.mp3</string>
				<key>7</key>
				<string>music/man/OutCard/mancard_7.mp3</string>
				<key>8</key>
				<string>music/man/OutCard/mancard_8.mp3</string>
				<key>9</key>
				<string>music/man/OutCard/mancard_9.mp3</string>
				<key>10</key>
				<string>music/man/OutCard/mancard_10.mp3</string>
				<key>J</key>
				<string>music/man/OutCard/mancard_J.mp3</string>
				<key>Q</key>
				<string>music/man/OutCard/mancard_Q.mp3</string>
				<key>K</key>
				<string>music/man/OutCard/mancard_K.mp3</string>
				<key>blackjoker</key>
				<string>music/man/OutCard/mancard_blackjoker.mp3</string>
				<key>redjoker</key>
				<string>music/man/OutCard/mancard_redjoker.mp3</string>
				<!--  对子 -->
				<key>AA</key>
				<string>music/man/OutCard/mancard_AA.mp3</string>
				<key>22</key>
				<string>music/man/OutCard/mancard_22.mp3</string>
				<key>33</key>
				<string>music/man/OutCard/mancard_33.mp3</string>
				<key>44</key>
				<string>music/man/OutCard/mancard_44.mp3</string>
				<key>55</key>
				<string>music/man/OutCard/mancard_55.mp3</string>
				<key>66</key>
				<string>music/man/OutCard/mancard_66.mp3</string>
				<key>77</key>
				<string>music/man/OutCard/mancard_77.mp3</string>
				<key>88</key>
				<string>music/man/OutCard/mancard_88.mp3</string>
				<key>99</key>
				<string>music/man/OutCard/mancard_99.mp3</string>
				<key>1010</key>
				<string>music/man/OutCard/mancard_1010.mp3</string>
				<key>JJ</key>
				<string>music/man/OutCard/mancard_JJ.mp3</string>
				<key>QQ</key>
				<string>music/man/OutCard/mancard_QQ.mp3</string>
				<key>KK</key>
				<string>music/man/OutCard/mancard_KK.mp3</string>
				<!-- 三张 -->
				<key>triple</key>
				<string>music/man/OutCard/mancard_triple.mp3</string>
				<key>_3with2_1</key>
				<string>music/man/OutCard/mancard_3with2_1.mp3</string>
				<key>_3with2_2</key>
				<string>music/man/OutCard/mancard_3with2_2.mp3</string>
				<!-- 双顺-->
				<key>pairstraight</key>
				<string>music/man/OutCard/mancard_pairstraight.mp3</string>
				<!-- 三顺 -->
				<key>triplestraight</key>
				<string>music/man/OutCard/mancard_triplestraight.mp3</string>
				<!-- 炸弹 -->
				<key>bomb_1</key>
				<string>music/man/OutCard/mancard_bomb_1.mp3</string>
				<key>bomb_2</key>
				<string>music/man/OutCard/mancard_bomb_2.mp3</string>
				<key>bomb_3</key>
				<string>music/man/OutCard/mancard_bomb_3.mp3</string>
			</dict>
		</dict>
		<key>woman</key>
		<dict></dict>
    </dict>
</plist>
