<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lost_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,662},{207,157}}</string>
                <key>offset</key>
                <string>{-103,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,63},{207,157}}</string>
                <key>sourceSize</key>
                <string>{505,223}</string>
            </dict>
            <key>lost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{391,193}}</string>
                <key>offset</key>
                <string>{-55,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{391,193}}</string>
                <key>sourceSize</key>
                <string>{505,223}</string>
            </dict>
            <key>lost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{361,167}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{361,167}}</string>
                <key>sourceSize</key>
                <string>{505,223}</string>
            </dict>
            <key>lost_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,322},{301,133}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,41},{301,133}}</string>
                <key>sourceSize</key>
                <string>{505,223}</string>
            </dict>
            <key>lost_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{287,147}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,43},{287,147}}</string>
                <key>sourceSize</key>
                <string>{505,223}</string>
            </dict>
            <key>lost_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{363,169}}</string>
                <key>offset</key>
                <string>{41,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{363,169}}</string>
                <key>sourceSize</key>
                <string>{505,223}</string>
            </dict>
            <key>lost_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,123}}</string>
                <key>offset</key>
                <string>{45,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{407,123}}</string>
                <key>sourceSize</key>
                <string>{505,223}</string>
            </dict>
            <key>lost_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{282,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,82}}</string>
                <key>sourceSize</key>
                <string>{282,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lost.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:986dc9414c3593cf754cd6cfb2a23295:1/1$</string>
            <key>textureFileName</key>
            <string>lost.png</string>
        </dict>
    </dict>
</plist>
